<section class="vh-100" style="background-color: #1e58c4;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem; background-color: rgb(196, 39, 39); border-color: #1e58c4;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/AngularToolKit_Banner (1).png"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form>
                    <div class="d-flex align-items-center mb-4 pb-1">
                      <span class="h1 fw-bold mb-0" style="color: #fff">Login de Usuário</span>
                    </div>
                    <div class="form-outline mb-3">
                      <label class="form-label" for="form2Example17" style="font-weight:600;">Email</label>
                      <input type="email" [(ngModel)]="user.email" name="email" 
                      id="form2Example17" class="form-control" placeholder="Seu email aqui..." />
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27" style="font-weight:600;">Senha</label>
                      <input type="password" [(ngModel)]="user.password" name="password" 
                      id="form2Example27" class="form-control" placeholder="Sua senha aqui..."/>
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button" (click)="login()">Login</button>
                    </div>
                    <p class="mb-1 pb-lg-2" style="color: #fff;">Não tem uma conta? <a routerLink="/cadastro-usuario"
                        style="color: black;">Cadastre-se aqui</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<p-toast></p-toast>